# Hidden files and folders
.*
!.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/ - excluded, needed for Dart
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Dart/Flutter
dart_gpmf/.dart_tool/
dart_gpmf/pubspec.lock

# Virtual Environments
venv/
env/
ENV/


